.footer {
  padding: 20px 0 40px;
  background: linear-gradient(77deg, #f26514, #f59a17, #f24412, #f12711);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__content {
  color: #eee;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__nav {
  display: flex;
}
.footer__nav > :nth-child(n) {
  margin: 0 5px;
}